<div class="col-md-12">
  <h1 class="content"></h1>
</div>
<div class="col-md-12">
  <div class="col-md-6"><gap id="1"></gap></div>
  <div class="col-md-6"><gap id="2"></gap></div>
  <div class="col-md-6"><gap id="3"></gap></div>
  <div class="col-md-6"><gap id="4"></gap></div>
  <div class="col-md-6"><gap id="5"></gap></div>
  <div class="col-md-6"><gap id="6"></gap></div>
  <button class="buttonStyle" ng-click="checkAnswers()">{{ data === true ? "Check" : "Reset" }}</button>
</div>
<div class="col-md-12">
  <a ui-sref="task({id: 1})"><button class="buttonStyle">View 1</button></a>
  <a ui-sref="task({id: 2})"><button class="buttonStyle">View 2</button></a>
</div>